kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
name: carbide-single-site
nodes:
  - role: control-plane
    kubeadmConfigPatches:
      - |
        kind: InitConfiguration
        nodeRegistration:
          kubeletExtraArgs:
            node-labels: "ingress-ready=true"
      - |
        kind: KubeletConfiguration
        maxOpenFiles: 1000000
    extraMounts:
      - hostPath: /dev/null
        containerPath: /dev/null
    extraPortMappings:
      - containerPort: 80
        hostPort: 80
        protocol: TCP
      - containerPort: 443
        hostPort: 443
        protocol: TCP
      - containerPort: 8388
        hostPort: 8388
        protocol: TCP
      - containerPort: 8100
        hostPort: 8100
        protocol: TCP
  - role: worker
    kubeadmConfigPatches:
      - |
        kind: KubeletConfiguration
        maxOpenFiles: 1000000
  - role: worker
    kubeadmConfigPatches:
      - |
        kind: KubeletConfiguration
        maxOpenFiles: 1000000
  - role: worker
    kubeadmConfigPatches:
      - |
        kind: KubeletConfiguration
        maxOpenFiles: 1000000

