# SPDX-FileCopyrightText: Copyright (c) 2021-2023 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: LicenseRef-NvidiaProprietary
#
# NVIDIA CORPORATION, its affiliates and licensors retain all intellectual
# property and proprietary rights in and to this material, related
# documentation and any modifications thereto. Any use, reproduction,
# disclosure or distribution of this material and related documentation
# without an express license agreement from NVIDIA CORPORATION or
# its affiliates is strictly prohibited.
#

apiVersion: batch/v1
kind: Job
metadata:
  name: cloud-db-migration-0-1-43
  labels:
    app: cloud-db-migration
spec:
  template:
    spec:
      restartPolicy: Never
      containers:
      - name: cloud-db
        image: cloud-db
        imagePullPolicy: Always
        env:
        - name: PGHOST
          valueFrom:
            configMapKeyRef:
              name: cloud-db-config
              key: host
        - name: PGPORT
          valueFrom:
            configMapKeyRef:
              name: cloud-db-config
              key: port
        - name: PGDATABASE
          valueFrom:
            configMapKeyRef:
              name: cloud-db-config
              key: name
        - name: PGUSER
          valueFrom:
            configMapKeyRef:
              name: cloud-db-config
              key: user
        - name: PGPASSWORD
          valueFrom:
            secretKeyRef:
              name: cloud-db-auth
              key: password
              optional: true
        - name: PGPASSWORD_PATH
          value: /var/secrets/db/password
        resources:
          requests:
            cpu: 50m
            memory: 300Mi
          limits:
            cpu: 1500m
            memory: 2Gi
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
            - NET_RAW
      securityContext:
        runAsNonRoot: false
