# CI/CD Configuration
# This file is provided as a reference for partners to adapt to their CI/CD system
# Partners should configure this according to their own infrastructure and requirements

variables:
  GIT_TERMINAL_PROMPT: 1

.go_before_script:
  before_script:
    - go mod download

style:
  stage: lint
  extends:
    - .go_before_script
  script:
    - go fmt ./...
    - go install github.com/mgechev/revive@v1.3.9
    - go list ./... | xargs -L1 revive -set_exit_status

lint:
  stage: lint
  extends:
    - .go_before_script
  script:
    - go vet ./...
    - golangci-lint run --issues-exit-code 0 --out-format code-climate | tee code-quality-report.json | jq .
  artifacts:
    reports:
      codequality: code-quality-report.json
    paths:
      - code-quality-report.json

test:
  stage: test
  extends:
    - .go_before_script
  script:
    - go test -race ./...
