.classpath
.cache
.DS_Store
*.im?
target
work
bin/
testbin/bin

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Various IDEs
.project
.idea/
*.tmproj
.vscode/


# vendor directory
#vendor/

# convenience dir (gitlab libs)
.libs

# unit testing and code coverage
coverage
unit-tests*
coverage.out
