export DB_ADDR="localhost"
export DB_PORT="5432"
export DB_DATABASE="rla"
export DB_USER="rla_tester"
export DB_PASSWORD="test_password"
export TEMPORAL_HOST="localhost"
export TEMPORAL_PORT=7233
export TEMPORAL_NAMESPACE="rla"

if [[ -f "./.local_envrc" ]]; then
    source ./.local_envrc
fi
